


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% load static %}	
        <link rel="stylesheet" href="{% static "/public/css/robber1.css" %}">


<div class="container">
    <h1 class="robber-1-h1">Hello, {{request_name}}</h1>
    <h2>So you've decided to be a <span>{{request_character}}</span>, huh? Let's see what happens</h2>
    <h3>Please create your character below. Thank you</h3>
    <form action="/robber1" method="POST" class="needs-validation" validate>
        {% csrf_token %}
        <div class="form-row">
        <div class="col-md-12 mb-3">
            <label for="validationTooltip01"><h3>What time do you wake up?</h3></label>
            <input type="text" class="form-control" name="time" id="validationTooltip01" placeholder="What time do you wake up? " required>
            <div class="valid-tooltip">
            Looks good!
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <label for="validationTooltip01"><h3>How much is your rent?</h3></label>
            <input type="text" class="form-control" name="rent" id="validationTooltip01" placeholder="How much is your rent?" required>
            <div class="valid-tooltip">
            Looks good!
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <label for="validationTooltip01"><h3>How many years old are you?</h3></label>
            <input type="text" class="form-control" name="years" id="validationTooltip01" placeholder="How old are you?" required>
            <div class="valid-tooltip">
            Looks good!
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <label for="validationTooltip01"><h3>What transportation do you use?</h3></label>
            <input type="text" class="form-control" name="transport" id="validationTooltip01" placeholder="What transportation do you use?" required>
            <div class="valid-tooltip">
            Looks good!
            </div>
        </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
</div>