<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% load static %}	
        <link rel="stylesheet" href="{% static "/public/css/robber1.css" %}">
<div class="container">
    <h2 class="story-begins">{{request_name}} had had enough. {{gender}} understood what many others would not. {{gender}} had to do what {{gender}} had to do in order to get the funds {{gender}} needed to survive in a relentless capitalist society. So {{request_name}} had decided that {{gender}} needed to secure an extra $500 dollars to finish off the ${{rent}} rent. {{request_name}} got in the {{transport}} and headed off to a near Mcdonald's.</h2>
</div>

<h2><a href="/robber4">Next</a></h2>