<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% load static %}	
        <link rel="stylesheet" href="{% static "/public/css/robber1.css" %}">
<div class="container">
    <h2 class="story-begins"> On a foggy day, {{request_name}} was stressing about his financial insecurity for the future. On top of that, {{request_name}} had a baby on the way soon, but due to the overwhelming poverty found on his side of town, {{request_name}} was losing patience. I am testing this {{time}}{{rent}}{{years}}{{transport}}</h2>
</div>

<h2><a href="/robber3">Next</a></h2>