<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% load static %}	
        <link rel="stylesheet" href="{% static "/public/css/robber1.css" %}">
<div class="container">
    <h2 class="story-begins">On a foggy day, {{request_name}} woke up at {{time}}. {{request_name}} was stressing about financial insecurity for the future. On top of that, {{request_name}} had a baby on the way soon, but due to the overwhelming poverty found in {{request_name}}'s' side of town as well as the lack of a livable wage at the service job {{gender}} was working at, {{request_name}} was losing patience, plus {{gender}} had just gotten scolded at by the landlord for being late on last month's rent and {{request_name}} was still about $500 dollars short of his ${{rent}} rent.
</div>

<h2><a href="/robber3">Next</a></h2>