body{
    background-color: #002e66;
}
.header{
    height: 65px;
    width: 100%;
    background-color: red;
    border-radius: 10px;
}
.title{
    padding:10px;
    color: white;
}
.navigation{
    height: 300px;
    width: 250px;
    background-color:  #4594ff;
    border-radius: 30px;
    margin-top: 15px;
    
}
.navigation a{
    color: #9ae9fc;
}
.navigation h4{
    margin:3 0px;
    padding-top:10px;
}
.ul-spacing{
    margin-top: -25px;
}
.main-content{
    width: 1050px;
    height: 600px;
    background-color: #080526;
    border-radius: 30px;
    margin-top: -330px;
    color: white;
    margin-left: auto;
    
}
.main-content h2{
    margin: 30px 20px;
}
.main-content a{
    color: #9ae9fc;
}
.main-content h2{
    padding-top:20px;
}
.main-content h5{
    margin-left: 20px;
    font-size: 16px;
}
.span-colors{
    color: #5591f2;
}
.footer{
    height:50px;
    width: 100%;
    background-color: #63626e;
    border-radius: 20px;
    color: white;
}
.footer h5{
    padding-left: 15px;
    padding-top: 15px;
}
