@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
* {
    vertical-align: top;
    
}
header{
    border: 1px solid black;
    margin: 0 auto;
    color: white;
    background-color: #161c18;
    height: 130px;
}
h1.logo{
    font-family: 'Pacifico', cursive;
    font-size: 35px;
}
header h1, header h5{
    display: inline-block;
}
header h5{
    margin-left: 960px;
}
div.nav{
    height: 65px;
    background-color: #2e3d32;
    color: white;
}
.nav ul{
    display:inline-block
}
.nav li{
    display: inline-block;
    font-size: 18px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-border-left{
    padding-left: 2px;
    border-right: 2px solid grey;
}
div.main-body{
    height: 500px;
    border: 2px solid black;
    background-image: url('../img/main_pic.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid grey;
}
.row{
    height: 300px;
    background-color: black;
    margin: 0 auto;
}
.row img{
    display: inline;
}
.item{
    display: inline-block;
    color: white;
    width: 23%;
    margin-left: 20px;
}
.titles{
    color: orange;
}
.sell-div{
    margin-top: 0;
    height: 250px;
    background-color: black;
}