* {
    vertical-align: top;
    
}
body{
    background-color: black;
}
header{
    border: 1px solid black;
    margin: 0 auto;
    color: white;
    background-color: #1A1A1A;
    height: 130px;
}
header img{
    margin-top: 20px;
    margin-left: 20px;
}
header h5{
    display: inline-block;
}
header h5{
    margin-left: 1130px;
    margin-top: -50px;
}
.nav{
    height: 60px;
    background-color: #3F3F3F;
    color: white;
}
.nav ul{
    display:inline-block
}
.nav li{
    display: inline-block;
    font-size: 18px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
}
.nav ul li.nav-border-left:after {
    content: "\00BB \0020";
    color: white;
    margin-left: 8px;
}
.nav a{
    text-decoration: none;
    color: white;
}
.nav a:hover{
    color: #948b7e;
}
#contact-border{
    border-right: 2px solid grey;
    padding-right: 430px;
}
.nav-border-left{
    padding-left: 2px;
    border-right: 2px solid grey;
}
.chevron{
    font-size: 12px;
}
.main-body{
    height: 500px;
    border: 2px solid black;
    background-image: url('../img/main_pic.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid grey;
}
.row{
    height: 300px;
    background-color:#1A1A1A;
    margin: 0 auto;
}
.item{
    display: inline-block;
    color: white;
    width: 23%;
    margin-left: 20px;
    margin-top: 40px;
}
.row img{
    display: inline-block;
    margin-top:15px;
    height: 50px;
    width: 50px;
}
.titles{
    color: orange;
}
.content-item{
    display: inline-block;
    vertical-align: top;
    width: 250px;
}
.sell-div{
    margin-top: 0;
    height: 250px;
    background-color: #0A0A0A;
    color: white;
}
.sell-div h1, .sell-div p{
    display: inline-block;
    width: 75%;
    padding-left: 40px;
}
.sell-div h1{
    padding-top: 30px;
}
.button-style{
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    background-color: #db8400;
    color: white;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    margin-top: -50px;
    margin-left: 90px;
}
.button-style a{
    color: white;
    text-decoration: none;
}
#second-row{
    color: white;
    height: 550px;
}
#second-row a{
    text-decoration: none;
    color:#db8400;
}
.portfolio-title{
    display: inline-block;
    margin-left: 20px;
    padding-top: 20px;
}
.all-projects{
    display: inline-block;
    margin-left: 970px;
    color: #db8400;
    padding-top: 20px;
}
#second-row img{
    border: 5px solid grey;
    height: 200px;
    width: 290px;
}
#second-row .p-right{
    float: right;
    margin-right: 20px;
}
#second-row a.back-to-top{
    color: white;
}
