@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
* {
    vertical-align: top;
}
header{
    border: 1px solid black;
    margin: 0 auto;
    color: white;
    background-color: #1A1A1A;
    height: 130px;
}
header img{
    margin-top: 20px;
    margin-left: 20px;
}
header h5{
    display: inline-block;
}
header h5{
    margin-left: 1130px;
    margin-top: -50px;
}
div.nav{
    height: 60px;
    background-color: #3F3F3F;
    color: white;
}
.nav ul{
    display:inline-block
}
.nav li{
    display: inline-block;
    font-size: 18px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
}
.nav a{
    text-decoration: none;
    color: white;
}
.nav a:hover{
    color: #948b7e;
}
.nav-border-left{
    padding-left: 2px;
    border-right: 2px solid grey;
}
div.main-body{
    height: 500px;
    border: 2px solid black;
    background-image: url('../img/main_pic.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid grey;
}
.row{
    height: 300px;
    background-color:#1A1A1A;
    margin: 0 auto;
}
.item{
    display: inline-block;
    color: white;
    width: 23%;
    margin-left: 20px;
}
.titles{
    color: orange;
}
.sell-div{
    margin-top: 0;
    height: 250px;
    background-color: #0A0A0A;
    color: white;
}
.sell-div h1, .sell-div p{
    display: inline-block;
    width: 80%;
}
.button-style{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    background-color: #db8400;
    color: white;
    font-weight: 400;
    border-radius: 5px;
    border: none;
}
#second-row{
    color: white;
    height: 500px;
}
#second-row img{
    border: 5px solid grey;
    height: 200px;
    width: 290px;
}
#second-row .p-right{
    float: right;
    margin-right: 20px;
}