<!DOCTYPE html>
<html>
    <head>
        <title>Index Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% load static %}	
        <link rel="stylesheet" href="{% static "first_app/public/css/main.css" %}"
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Spot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Explore <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">About</a>
            <a class="dropdown-item" href="#">How to use</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">What's new?</a>
            </div>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="/signup">Sign Up</a></button></a>
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Log In</button>

        </form>
    </div>
    </nav>
    </div>
    {% comment %} <div class="container first-div">
        <div class="col-lg-12">
            <h1 style="text-align:center; padding-top:100px">Welcome to Spot</h1>
            <h3 style="text-align:center;">A place to discuss what's going on in the world</h3>
        </div>
    </div> {% endcomment %}
    <!-- The video -->
    <video autoplay muted loop id="myVideo">
        <source src="{% static "first_app/public/media/stuff.mp4" %}" type="video/mp4">
    </video>

    <!-- Optional: some overlay text to describe the video -->
    <div class="content">
    <h1>Welcome to Spot</h1>
    <p>A place to discuss what's going on in the world</p>
    <!-- Use a button to pause/play the video with JavaScript -->
    <button id="myBtn2" onclick="myFunction()">Pause</button>
    </div> 

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
// Get the video
var video = document.getElementById("myVideo");

// Get the button
var btn = document.getElementById("myBt2");

// Pause and play the video, and change the button text
function myFunction() {
    if (video.paused) {
        video.play();
        btn.innerHTML = "Pause";
    } else {
    video.pause();
    btn.innerHTML = "Play";
    }
}
</script>
</html>