<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% load static %}	
        <link rel="stylesheet" href="{% static "/public/css/cop1.css" %}">
<div class="container">
    <form action="/cop2" method="POST" class="needs-validation" novalidate>
    <h1>Hello, this is the first part of the cop story</h1>
    <h2>Below you will describe you cop Character</h2><br><br>
        {% csrf_token %}
        <div class="form-row">
        <div class="col-md-12 mb-3">
            <label for="validationTooltip01"><h3>Burger or Donut?</h3></label>
            <input type="text" class="form-control" name="food" id="validationTooltip01" placeholder="Choice of Food" required>
            <div class="valid-tooltip">
            Looks good!
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <label for="validationTooltip01"><h3>Ford or Chevy?</h3></label>
            <input type="text" class="form-control" name="vehicle" id="validationTooltip01" placeholder="Choice of Vehicle" required>
            <div class="valid-tooltip">
            Looks good!
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <label for="validationTooltip01"><h3>Smooth Jazz or Hip Hop</h3></label>
            <input type="text" class="form-control" name="music" id="validationTooltip01" placeholder="Choice of Music" required>
            <div class="valid-tooltip">
            Looks good!
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <label for="validationTooltip01"><h3>Bad cop or good cop?</h3></label>
            <input type="text" class="form-control" name="behavior" id="validationTooltip01" placeholder="Morality" required>
            <div class="valid-tooltip">
            Looks good!
            </div>
        </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
</div>