<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% load static %}	
        <link rel="stylesheet" href="{% static "/public/css/cop1.css" %}">
<div class="container">
    <h2 class="story-begins">{{request_name}} Sprinted into the Mcdonalds to confront the robber, without of course knowing any context on what pushed the robber to do such a thing.</h2>
</div>

<h2><a href="/cop4">Next</a></h2>