<h1>First part of cop Story</h1>
<p>Will input data fro pervious form into story</p>

<h3>The standard Lorem Ipsum passage, used since the 1500s and

"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</h3>

<h4>{{food_from_template}}</h4>
<h4>{{vehicle_from_template}}</h4>
<h4>{{music_from_template}}</h4>
<h4>{{behavior_from_form}}</h4>

<a href="/cop3">Next</a>