<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% load static %}	
        <link rel="stylesheet" href="{% static "/public/css/cop1.css" %}">
<div class="container">
    <div class="story-begins">
        <h2>{{request_name}} jumped through the drive thru window to confront the robber! As {{gender}} landed inside, {{gender}} shouted to the robber to put their hands up!</h2>
        <h4>To be continued...</h4>
        <h4>Thank you for participating in our game.</h4>
    </div>
</div>

<h2><a href="/">Back to front of app.</a></h2>