<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% load static %}	
        <link rel="stylesheet" href="{% static "/public/css/cop1.css" %}">
<div class="container">
    <h2 class="story-begins"> On a foggy day, {{request_name}} was patrolling on the Southside and was getting a little hungry for some coffee and {{food_from_template}}. Since {{request_name}} was driving a brand new {{vehicle_from_template}} given to him by the Department who had huge contracts with {{vehicle_from_template}}, as many departments do, {{request_name}} decided to go to the drive thru to show it off and display force over the civilians (not cool). As he approached the window to pay, he reached over to turn down his {{music_from_template}} music, WHEN ALL OF A SUDDEN overse, I mean office{{request_name}} witness someone robbing the cashier! Since {{request_name}} graduated as a {{request_character}}, he remember his training perfectly. And was that training? To react!</h2>
</div>

<h2><a href="/cop3">Next</a></h2>