<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% load static %}	
        <link rel="stylesheet" href="{% static "/public/css/cop1.css" %}">
<div class="container">
    <h2 class="story-begins">As {{gender}} approached the window to pay, {{gender}} reached over to turn down the {{music_from_template}} music {{gender}} was listening to WHEN ALL OF A SUDDEN {{gender}} witnessed someone robbing the cashier! Since {{request_name}} graduated as a {{request_character}}, {{gender}} remembered the training perfectly. And what was that training? To react!</h2>
</div>

<h2><a href="/cop4">Next</a></h2>