<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% load static %}	
        <link rel="stylesheet" href="{% static "/public/css/cop1.css" %}">
<div class="container">
    <h2 class="story-begins">{{request_name}} is a reactionary</h2>
</div>
<p>Thank you participating in our story.(p.s was not chuy's idea)</p>
<h2><a href="/">Back to front of app.</a></h2>