body{
    background-color: black;
    text-align: center;
    background: url(../img/robberpic.jpg);
    background-size: fill;
    background-repeat: no-repeat;
    color: white;

}
.header-h1{
    margin-top:130px;
}
.robber-1-h1{
    margin-top: 120px;
}
span{
    color: red;
}
#robber{
    background-color: black;
    border-radius: 100px;
}
form{
    padding: 20px;
}