 *{
    vertical-align: top;
}
body{
    background-image: radial-gradient(#8a5955, #a16b67, #261a19);
}
header{
    display: inline-block;
    background-color: #d8e6db;
    width: 100%;
}
.alignleft {
    float: left;
    margin-left: 60px;
    font-size: 30px;
}

.alignright {
    float: right;
    margin-right: 50px;
    font-size: 30px;
}
.first-div{
    text-align: center;
}
.main-content{
    display: inline-block;
    vertical-align: bottom;
    margin-right: 30px;
}
.main-content img{
    width: 600px;
    height: 390px;
    margin-top: 15px;
    border: 5px solid #d8e6db;

}
.about-div{
    background: linear-gradient(0.25turn, #ebf0ec, #ebf8e1, #b9c4bb);
    width: 600px;
    height: 400px;
    display: inline-block;
    vertical-align: bottom;
    text-align: left;

}
.about-div p{
    font-size: 21px;
    padding-left: 10px;
}
.about-div a{
    color: black;
}
.about-div h2{
    background: linear-gradient(#c2ccc2, #929c92, #c2ccc2);
    margin-top: 0;
    height: 40px;
    padding-top:12px;
    padding-left: 5px;
    background-color: #8a8371;
    color: white;
}
.column-sections{
    min-height: 400px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 15px;

}
.row-1{
    min-height: 700px;
    width: 350px;
    background-color: #d8e6db;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}
.row-1 img{
    height: 180px;
    width: 350px;
}
p.column-title{
    background: linear-gradient(#c2ccc2, #929c92, #c2ccc2);
    height: 40px;
    margin-top: 0;
    padding-top: 10px;
    text-align: left;
    padding-left: 10px;
    color: white;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 0;
}
.p-content{
    text-align: left;
    padding:0 10px;
}
.tech-pics img{
    height: 40px;
    width: 40px;
    margin-right: 5px;
}
.tech-list{
    text-align: left;
}
.tech-list li{
    display: inline-block;
    padding-bottom:13px;

}
p.section-titles{
    background: linear-gradient(#c2ccc2, #929c92, #c2ccc2);
    height: 30px;
    margin-top: 73px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 10px;
    color: white;
    font-size: 22px;
    font-weight: 800;
}
#last-tech-title{
    margin-top: 0;
}
.button{
    padding: 10px;
    background-color: #085415;
    border-radius: 50px;
    color: white;
    font-weight: 800;
}
.button:hover{
    cursor: pointer;
    background: linear-gradient(#e66465, #9198e5);
    border: none;
}
.footer-stuff{
    text-align: center;
    background-color: #d8e6db;
    height: 100px;
}
.footer-stuff p{
    padding-top:16px;
}
.footer-stuff a{
    text-decoration:  underline;
    color: black;
    font-style: italic;
    font-size: 20px;

}
.footer-stuff li{
    list-style: none;
    display: inline;
}
.footer-stuff img{
    height: 25px;
    width: 25px;
    margin-right:5px;
}
