*{
    vertical-align: top;
}
body{
    background-color: #6e4845;
}

header{
    display: inline-block;
    background-color: #d8e6db;
    width: 100%;   
}
.alignleft {
    float: left;
    margin-left: 10px;
    font-size: 30px;
}

.alignright {
    float: right;
    margin-right: 10px;
    font-size: 30px;
}
.main-content img{
    width: 400px;
    height: 300px;
    margin-top: 15px;
    border: 5px solid #d8e6db;
    margin-left: 15px;
}
.about-div{
    background-color: white;
    width: 500px;
    height: 300px;
    
}
.about-div h2{
    background-color: #d8e6db;
}
.column-sections{
    min-height: 400px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    
}
.row-1{ 
    min-height: 700px;
    width: 350px;
    background-color: #d8e6db;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}
.row-1 img{
    height: 180px;
    width: 300px;
}
p.section-titles{
    background-color: blue;
    height: 50px;
    margin-top:0;
    vertical-align: bottom;
    
}
.tech-pics img{
    height: 40px;
    width: 40px;
    margin-right: 5px;
    
}
.tech-list li{
    list-style: none;
    display: inline;
    text-align: center;
}
.button{
    padding: 10px;
    background-color: #28660f;
    border-radius: 50px;
    color: white;
    
}
.button:hover{
    cursor: pointer;
}
.footer-stuff{
    text-align: center;
    background-color: #d8e6db;
    height: 100px;
}
.footer-stuff p{
    padding-top:16px;
}
.footer-stuff a{
    text-decoration:  underline;
    color: black;
    font-style: italic;
    font-size: 20px;

}
.footer-stuff li{
    list-style: none;
    display: inline;
}
.footer-stuff img{
    height: 25px;
    width: 25px;
    margin-right:5px;
}