<!Doctype html>
    <head>
        <title>Success</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static "/public/css/main.css" %}">
    </head>
<html>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="#">The Wall</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Explore</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
            <p class="nav-link my-2 my-sm-0 welcome-user">Profile</p>
        </li>
        <li class="nav-item active">
            <p class="nav-link my-2 my-sm-0 welcome-user">Welcome, {{loggedInUser.firstName}}</p>
        </li>
    </ul>
    <button class="btn btn-info my-2 my-sm-0" id="register-button" type="submit"><a href="/logout">Logout</a></button>
    </div>
</nav>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-10">
                <h3 class="the-wall" style="margin-left: 185px;">News Feed</h3>
                <div class="progress" style="width: 720px; margin-left: 200px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                </div>
                    <form action="/newmessage" method="POST" id="post-message">
                        {% csrf_token %}
                        <h3>What's on your mind?</h3>
                        <textarea class="form-control" type="text" name="message" placeholder="Write Status"></textarea><br>
                        <button type="submit" class="btn btn-primary btn-md btn-block">Post</button>
                    </form>
                    <div class="wall-styles">
                        {% for message in all_messages %}
                            <div class="row">
                                <div class="col-md-1">
                                    <img src="../static/public/img/profile-pic-default.png">
                                </div>
                                <div class="col-md-4" id="user-name-on-panel">
                                    <h5 class="user-display-wall">{{message.user.firstName}} {{message.user.lastName}} </h5>
                                    <p class="time-stamp">{{ message.created_at }}</p>
                                </div>
                                <div class="col-md-7">
                                    <div class="btn-group dropright">
                                        <button type="button" class="btn dropdown-toggle" style="margin-left: 340px; margin-top: -5px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Actions
                                        </button>
                                        <div class="dropdown-menu">
                                                <a href="#"><li>Delete</li></a>
                                                <a href="#"><li>Edit</li></a>
                                                <a href="#"><li>Comment</li></a>
                                                <a href="#"><li>Report</li></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" id="messages-display-position">
                                    <h6>{{message.message}}</h6>
                                        {% for comment in message.comments.all %}
                                            <img src="../static/public/img/profile-pic-default.png">
                                            {{comment.user.firstName}} {{comment.user.lastName}}
                                            <p class="comment-timestamp">{{ comment.created_at }}</p>
                                            <p class="comment-p">
                                                {{comment.comment}}
                                            </p>
                                        {% endfor %}

                                    <form action="/newcomment" method="POST" id="post-comment">
                                        {% csrf_token %}
                                        <h3>Comment</h3>
                                        <input type="hidden" name="message_id" value="{{message.id}}">
                                        <textarea class="form-control" type="text" name="comment" placeholder="Write Comment"></textarea><br>
                                        <button type="submit" class="btn btn-success btn-md btn-block">Post</button>
                                    </form>
                                    <hr>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
            <div class="col-md-2">
                <h4 style="color: white; margin-top:65px;">Who to follow</h4>
                    <div style="height:1300px;width:250px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
                        {% for user in all_users%}
                            <p style="color: blue; background-color: white; padding:20px; text-align: left; margin-bottom: 0px;">User: {{user.firstName}} {{user.lastName}}</p>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="../static/public/js/main.js"></script>
</body>
</html>